<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>

<div>

<form action="#" th:action="@{/car/addCar}" th:object="${car}" method="POST">

    <input type="text" th:field="*{type}" placeholder="type">
    <input type="text" th:field="*{producer}" placeholder="producer">
    <input type="text" th:field="*{model}" placeholder="model">
    <input type="number" th:field="*{dailyCost}" placeholder="dailyCost">

    <button type="submit">Save</button>

</form>
</div>
</body>
</html>