<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Car List</title>
</head>
<body>
Car list

    <div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Producer</th>
                <th>Model</th>
                <th>Price per day</th>
                <th>Available</th>
                <th>Rent car</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="theCars : ${cars}">

                <td th:text="${theCars.type}" />
                <td th:text="${theCars.producer}" />
                <td th:text="${theCars.model}" />
                <td th:text="${theCars.dailyCost}" />
                <td th:text="${theCars.rented} ? 'Unavaliable' : 'Available'" />
                <td>
                    <div class="row">
                        <div class="col-small" th:unless="${theCars.rented}" >
                            <form action="#" th:action="@{/car/rentCar}" method="POST">
                                <input type="hidden" name="carId" th:value="${theCars.carId}" />
                                <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">rent this car</button>
                            </form>
                        </div>
                        <div class="row" th:if="${theCars.rented}">
                    <!--<button class="col-small"  >-->

                            <button class="btn btn-info btn-sm ml-3 mr-1"
                            onclick="if (!(confirm('Car is alredy rented'))) return false"/>Car is rented</button>

                         </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>