<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Car List</title>
</head>
<body>
Car list

    <div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Producer</th>
                <th>Model</th>
                <th>Price per day</th>
                <th>Available</th>
                <th>Rent car</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="theCars : ${cars}">

                <td th:text="${theCars.type}" />
                <td th:text="${theCars.producer}" />
                <td th:text="${theCars.model}" />
                <td th:text="${theCars.dailyCost}" />
                <td th:text="${theCars.rented} ? 'Unavaliable' : 'Available'" />

                <div class="row">

                    <div class="col-small">
                            <form action="#" th:action="@{/car/rentCar}" method="POST">
                                <input type="hidden" name="carId" th:value="${theCars.carId}" />
                                <!--<input type="hidden" name="userId" th:value="${user.id}" />-->
                                <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">rent this car</button>

                            </form>
                    </div>

                        <!--<div class="col-small">-->
                            <!--&lt;!&ndash; Add "delete" button/link &ndash;&gt;-->

                            <!--<form action="#" th:action="@{/students/delete}" method="POST">-->

                                <!--<input  type="hidden" name="studentId" th:value="${tempStudent.id}" />-->
                                <!--<button type="submit" class="btn btn-danger btn-sm"-->
                                        <!--onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false">-->
                                    <!--Delete-->
                                <!--</button>-->

                            <!--</form>-->
                        <!--</div>-->
                    </div>
                <!--</td>-->


            </tr>
            </tbody>
        </table>

    </div>
    </div>

</body>
</html>