<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Rent Details</title>
</head>

<body>

<div class="container">


    <p class="h4 mb-4">Rent car</p>

    <form action="#" th:action="@{/car/rent}"
                     th:object="${rentDate}" method="POST">

        <input type="hidden" th:field="*{user}" />

        <input type="hidden" th:field="*{car}" />
                From:
        <input type="date" th:field="*{rentDate}"
               class="form-control mb-4 col-4" placeholder="Rent from">
                To:
        <input type="date" th:field="*{returnDate}"
               class="form-control mb-4 col-4" placeholder="To">

        <button type="submit" class="btn btn-info col-2">Rent</button>

    </form>

    <hr>
    <a th:href="@{/car/list}">Back to Cars List</a>

</div>
</body>

</html>